<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @user.username %>'s details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @user.username %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @user.email %>
      </dd>

      <dt>
        Photos
      </dt>
      <dd>
        <% Photo.where(user_id: @user.id).each do |photo| %>
            <p>
                <img src="<%= photo.image %>" width=400px>
            </p>
            <p>
            Caption: <%= photo.caption %>
            </p>
        <% end %>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

