<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My Liked Photos
    </h1>

    <a href="/likes/new" class="btn btn-block btn-outline-secondary">
      Add a new like
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @likes.each do |like| %>
      <tr>

        <td>
          <img src="<%= Photo.where(id: like.photo_id).first.image %>" width=400px >
            <p>
              <%= Photo.where(id: like.photo_id).first.caption %>
            </p>
        </td>

        <td>
          <%= time_ago_in_words(like.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(like.updated_at) %> ago
        </td>

        <td>
          <a href="/likes/<%= like.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
